

<div class="row">
  <div class="col-md-6 " style="width:100%;font-size:18px"">
    <%= form_with(model: cadastro_atendimento, local: true) do |f| %>
      <div class="x_panel">
        <div class="x_title">
          <h2 style="width:100%"><%=@acao%> Atendimento
          <small style="float:right" >
            <%= link_to 'Voltar', cadastro_atendimentos_path,class:"fa fa-reply"  %>
            <div style="float: right;margin-left: 10px;">
              <%= f.submit "Enviar", class:"btn btn-success",style:"width: 115px;font-size: 18px;"%>
            </div> 
            </small>
          </h2> 
          <div class="clearfix"></div>
        </div>
        <div class="x_content">  
          <% if cadastro_atendimento.errors.any? %>
            <div id="error_explanation">
              <h2 class="msg_erro"><%= pluralize(cadastro_atendimento.errors.count, "") %> <span style="color:red;text-decoration:underline">Erros</span> encontrados, resolva para poder enviar as informações.</h2>

              </ul>
            </div>
          <% end %>
          <div class="field">
            <div style="text-align:center">
              <div id="atendimento">
                <div style="margin: auto;width: 1000px;text-align: left;">   
                  
                  Solicitante
                  <br>
                  <br>
                  <div class="field">
                    <%= f.label :nome %>*:
                    <%= f.text_field :nome, style:"width: 72%;",placeholder:"Nome completo do solicitante."%>
                    <%= f.label :codigo_tj_filiado%>*: 
                    <%= collection_select(:cadastro_atendimento, :codigo_tj_filiado,  @filiados_for_select, :id, :serventia)%> 
                  </div>
                  <div class="field">
                    <%= f.label :cpf %>*:
                    <%= f.text_field :cpf, placeholder:"999.999.999.99",style:"width: 18%;",maxlength:"11"%> 
                    <%= f.label :telefone %>*:
                    <%= f.text_field :telefone,placeholder:"(99) 99999-9999",style:"width: 16%;",maxlength:"11"%> 
                    <%= f.label :data_atendimento%>*: 
                    <%= f.text_field :data_atendimento , type:"date", style:"margin-left: 3px;"%>
                  </div>
                </div>
                <br>
                <div class="field" style="text-align:left;width:1000px;font-size:20px;margin:auto"> 
                  <div class="field-unit__field">
                    <div style="display:none"><%= f.text_field :texto_livre, id: 'texto_livre' %></div>
                    <trix-editor style="background-color:white;border: 1px solid #2a3f53;"input="<%= :texto_livre %>" placeholder="Digite o Seu texto aqui..."></trix-editor>
                  </div> 
                </div>  
              </div> 
              <div id="documentos"> 
                <h2>Adicionar Docummentos <i class="fa fa-folder"></i></h2>
                <br>
                  <div style="text-align: end;margin-top: 11px;"><%= link_to_add_association('Adicionar',f, :documentos,class:"btn btn-success",style:"color:black;padding: 4px;")%></div>
              </div>
              <br>
              <div id="advogados">
                <h2>Adicionar Advogado <i class="fa fa-briefcase"></i></h2>
                <br>
                <% if cadastro_atendimento.advogados%>
                  <div style="text-align: end;margin-top: 11px;"><%= link_to_add_association('Adicionar',f, :advogados,class:"btn btn-success",style:"color:black;padding: 4px;")%></div>
                  <%= f.fields_for :advogados do |advogados_fields| %> 
                      <%= render partial: "advogado_fields", locals: { f: advogados_fields}%>
                  <% end %>
                <% else %>
                  <%= f.fields_for :advogados do |advogados_fields| %> 
                      <%= render partial: "advogado_fields", locals: { f: advogados_fields}%>
                  <% end %>
                <% end %>
              </div> 
              <div id="pessoas"> 
                <h2>Adicionar Pessoas <i class="fa fa-user"></i></h2>
                <br>
                  <% if cadastro_atendimento.pessoas%>
                    <div style="text-align: end;margin-top: 11px;"><%= link_to_add_association('Adicionar',f, :pessoas,class:"btn btn-success",style:"color:black;padding: 4px;")%></div>
                    <%= f.fields_for :pessoas do |pessoas_fields| %>
                        <%= render partial: "pessoa_fields", locals: { f: pessoas_fields}%>
                    <% end %>
                  <% else %>
                    <%= f.fields_for :pessoas do |pessoas_fields| %>
                        <%= render partial: "pessoa_fields", locals: { f: pessoas_fields}%>
                    <% end %>
                  <% end %>
              </div>
              <div id="processos">  
                <h2>Adicionar Processo <i class="fa fa-gavel"></i></h2>  
                <% if @possui_processo %> 
                  <%= f.fields_for :processos do |processo_fields| %>
                      <%= render partial: "processo_fields", locals: { f: processo_fields}%>
                  <% end %>   
                <% else %> 
                  <div style="text-align: end;margin-top: 11px;"><%= link_to_add_association('Adicionar',f, :processos,class:"btn btn-success",style:"color:black;padding: 4px;")%></div>
                  <%= f.fields_for :processos do |processo_fields| %>
                      <%= render partial: "processo_fields", locals: { f: processo_fields}%>
                  <% end %> 
                <% end %> 
              </div>
            </div>
          </div> 
        </div>  
      </div>
      
    <% end %>   
  </div>
  </div>