<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @advogado.nome %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @advogado.endereço %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @advogado.cidade %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @advogado.bairro %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @advogado.cep %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @advogado.telefone %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @advogado.cidade %>
</p>

<p>
  <strong>Email:</strong>
  <%= @advogado.email %>
</p>

<p>
  <strong>Advogado:</strong>
  <%= @advogado.advogado %>
</p>

<p>
  <strong>Oab:</strong>
  <%= @advogado.oab %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @advogado.telefone %>
</p>

<p>
  <strong>Observação:</strong>
  <%= @advogado.observação %>
</p>

<p>
  <strong>Cadastro atendimento:</strong>
  <%= @advogado.cadastro_atendimento %>
</p>

<%= link_to 'Edit', edit_advogado_path(@advogado) %> |
<%= link_to 'Back', advogados_path %>
