<div class="clearfix"></div>
  <div class="row">
    <div class="col-md-6 " style="width:100%;font-size:18px"">
      <%= form_with(model: contato, local: true,style:"margin-top: -15%;") do |f| %>
        <div class="x_panel">
          <div class="x_title">
            <h2 style="width:100%"><%=@acao%> Contato
            <small class="actions-form">
              <%= link_to 'Voltar', contatos_path,class:"fa fa-reply"  %>
              <div style="float: right;margin-left: 10px;">
                <%= f.submit "Enviar", class:"btn btn-success",style:"width: 115px;font-size: 18px;"%>
              </div> 
              </small>
            </h2> 
            <div class="clearfix"></div>
          </div>
          <div class="x_content">  
            <div class=contato>
              <h2>Informações do Contato <i class="fa fa-user"></i></h2>
              <div class="contato-form" style="width: 783px;"> 
                <% if contato.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(contato.errors.count, "error") %> prohibited this contato from being saved:</h2>

                    <ul>
                    <% contato.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>
                
                <div class="field" >
                  Nome*
                  <%= f.text_field :nome, style:"width: 90%;",placeholder:"Informe seu nome completo"%>
                </div> 
                <br>
                <div class="field">
                  Email* 
                  <%= f.text_field :email, style:"width: 31%;",placeholder:"exemplo@exemplo.com"%>  
                  Profissão*
                  <%= f.text_field :profissao, style:"width: 19%;", placeholder:"Ex: Advogado"%> 
                  <%= f.label :detalhe %>
                  <%= f.text_field :detalhe, style:"width: 18%;margin-left: 1px;", placeholder:"Nome da Empresa"%>
                </div>
                <br>

                <div class="field"> 
                  <%= f.label :cep %>
                  <%= f.number_field :cep, style:"width: 12%;",class:"cpf-mask", placeholder:"00000-000"%> 
                  Cidade*
                  <%= f.text_field :cidade, style:"width: 19%;", placeholder:"Ex: Fortaleza"%>
                  <%= f.label :bairro %>
                  <%= f.text_field :bairro, placeholder:"Ex: Aldeota"%>
                  <%= f.label :numero %>
                  <%= f.number_field :numero, style:"width: 11%;",placeholder:"Ex: 1A"%> 
                </div>
                <div class="field">
                  <%= f.label :logradouro %>
                  <%= f.text_field :logradouro, style:"width: 47%;", placeholder:"Endereço do contato"%>  
                  <%= f.label :observacao %>
                  <%= f.text_field :observacao, style:"margin-left: 3px;", placeholder:"Ponto de referência"%>
                </div>
                <br>

                <div class="field"> 
                  <%= f.label :site%>
                  <%= f.text_field :site, style:"width: 66%;",placeholder:"link para o site do contato"%>
                  <%= f.label :dn %>
                  <%= f.number_field :dn,placeholder:"Numero de Dn" %> 
                </div>  
              </div>
            </div> 
            <div class="telefone-form">
              <h2>Telefones<i class="fa fa-phone"></i></h2> 
              <div class="telefone">
                <div id="telefones">  
                  <% if contato.telefones%>
                    <%= f.fields_for :telefones do |telefones_fields| %>
                        <%= render partial: "telefone_fields", locals: { f: telefones_fields}%>
                    <% end %>
                  <% else %>
                    <%= f.fields_for :telefones do |telefones_fields| %>
                        <%= render partial: "telefone_fields", locals: { f: telefones_fields}%>
                    <% end %>
                  <% end %>  
                  <%= link_to_add_association(' Adicionar Telefone',f, :telefones, class:"fa fa-plus")%>
                </div>
              </div> 
            </div>  
          </div> 
        </div> 
        
      <% end %> 
    </div>
  </div>
</div>