<div style="text-align:center">
  <div class="container body" style="text-align:center;font-size:18px">
    <div class="main_container" style="text-align:center"> 

      <!-- top navigation --> 
      <!-- page content --> 
      <div class="" style="text-align:center"> 

        <div class="clearfix"  style="text-align:center"></div>

        <div class="row" style="display: block;text-align:center"">
          <div class="col-md-6 col-sm-6  " style="width: 100%;margin-left: auto;margin-right: auto;text-align: center;">
            <div class="x_panel" style="color: #2a3f53;text-align: center;width: 100%;background: #ffffff;font-family: Gilroy;margin-bottom: 47px;">
              <div class="x_title">
                <%= form_tag(contatos_path, method: :get) do %>
                  <div class="col-md-5 col-sm-5   form-group pull-right top_search" style="WIDTH: 100%;text-align:center">
                    <div class="input-group" > 
                      <h2 style="width: 100%;text-align: initial;font-family: Gilroy ExtraBold;">Contatos
                        <small style="float: right;text-align: end;">
                          Cidade: <%= text_field_tag 'cidade', nil, type:'text', placeholder:"Ex: Fortaleza", class:"form-control", style:"width: 29%;font-size: 20px;border-radius: 2px;background: transparent;border: 2px solid #26b99a; "%>
                          E-mail: <%= text_field_tag 'email', nil, type:'text', placeholder:"Ex: teste@teste.com",  class:"form-control", style:"width: 33%;font-size: 20px;border-radius: 2px;background: transparent;border: 2px solid #26b99a; "%>
                          <%= submit_tag "Consultar",  id:'btn_consulta_escuro', style:"font-size: 20px;"%></h3> 
                        </small>
                      </h2>
                    </div>
                  </div>
                <% end %>  
                <div class="clearfix"></div>
              </div>
              <div class="x_content" style="min-height:760px;text-align:center">

                <table class="table"  style="width:100%">
                  <thead>
                    <tr>
                      <th>Nome</th> 
                      <th>Email</th> 
                      <th>Cidade</th>
                      <th>Telefones</th>
                      <th>1 Telefone</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @contatos_aux.each do |contato| %>
                      <tr>
                        <td><%= contato.nome %></td>   
                        <td><%= contato.email %></td>   
                        <td><%= contato.cidade %></td>
                        <% begin %>
                          <td><%= ((contato.telefones)).size %></td>
                          <td><%= ((contato.telefones.sample).telefone) %></td> 
                        <% rescue %>   
                        <% end %>  
                        <td style="width:7%;padding:2px"><%= button_to 'Visualizar' , contato, method: :get,class:'modal__btn modal__btn-primary',style:"background-color: #2b3c8f;font-family: Gilroy ExtraBold;width:100%width: 100%;"%></td>
                        <td style="width:7%;padding:2px"><%= button_to 'Editar', edit_contato_path(contato), method: :get,class:'modal__btn modal__btn-primary',style:"font-family: Gilroy ExtraBold;width:100%"%></td>
                        <td style="width:7%;padding:2px"><%= button_to 'Excluir', contato, method: :delete, remote: true,onclick:'return ConfirmDelete(this)',class:'modal__btn',style:"color: white;background: red;font-family: Gilroy ExtraBold;width: 100%;"%></td>
                        
                      </tr>
                      <script>
                        function ConfirmDelete(button) {
                          alertify.confirm("<p style='font-size:15px'>Deseja excluir o contato de <%= contato.nome%>?</p><br><p style='color:red'>esta ação não pode ser desfeita.<p>", function() {
                            button.form.submit() 
                          }, function() {
                            alertify.error("Você cancelou a ação");
                          }).set('defaultFocus', 'Cancelar');

                          return false;
                        }
                      </script>
                    <% end %> 
                    
                  </tbody>
                  <div class="clearfix"></div>
                </table> 
                  <div style="float: none;display: flow-root;">
                    <%= paginate @contatos,style:"text-align:center"%>
                  </div>
              </div>
            </div>
            <div>
              
            </div>          
          </div> 
          <div class="atv">
            <div class="add">
              <%= link_to '',new_contato_path,method: :get,class:"fa fa-plus",style:"background: #00ffce;font-size: 43px;border-radius: 30px;box-shadow: 0px 0px 6px #2a656a;padding: 2px 7px;text-align: left;padding-right: 79px;position: fixed;top: 88%;left: 97.6%;float: right;z-index: 9;color: #1abb9c;"%>
            </div>
            <span class="add_atv">Adicionar Contato</span> 
          </div>
          <div class="clearfix"></div> 
        </div>
      </div> 
    </div>
  </div>  
</div>