
<div class="col-md-4 col-sm-4 " style="font-family: Gilroy;">
    <div class="x_panel tile fixed_height_320 overflow_hidden"  style="width: 100.8%;margin-left: -6px;height: auto;min-height: 521px;box-shadow: 0px 0px 3px #415467;">
        <div class="x_title" style="color: #1a2670;font-family: Gilroy ExtraBold;">
            <h2><i class="fa fa-youtube-play" style="margin-right:10px"></i>Tutoriais</h2> 
            <div class="clearfix"></div>
        </div>
        <div class="x_content" style="font-size: 23px;text-shadow: 0px 0px 1px #adb9c5;padding: 27px;margin-top: -20px;margin-left: -30px;padding-bottom: 0px;"> 
            <div class="col-md-4" style="width: 100%;">
                <div id="tutorial">
                    <div style="">
                        <div style="float: right;width: 51%;color: #1a266f">
                            <p style="">
                                <h2 style="text-align: left;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;text-shadow: 0px 0px 0px transparent;">Intuito do sistema.</h2> 
                                O Sinjur visa facilitar os atendimentos do <b>SINDICADO</b>, de modo a que venha gerar mais fluidez e agilidade, e com isso alcançar um atendimento
                                com mais qualidade. em sua verção inicial o Sinjur entrega o essencial para efetuar um atendimento, podendo adicionar pessoas, advogados, 
                                documentos e até mesmo um processo, além disso é possivel utilizar o mesmo como sua agenda para atividades e contatos. Em sua base de dados ele possui
                                as informações de todos os filiados da <b>Sinoredi-CE</b>, com a ultima atualização em 13/09/2020. Fique a vontade para navegar pelo sistema e conhecer
                                mais sobre sua nova ferramenta de trabalho.
                            </p>
                        </div>
                        <div style="float: left;margin-left: 13px;width: 46.5%;text-align: right;"> 
                            <%= video_tag "/movies/introdução.mp4",class:"tutorial_1", style:"width:96%;margin-top: 5px;", :controls => true %>
                        </div> 
                    </div>
                    <div class="clearfix"></div>
                    <div style=""> 
                        <p>
                            <div style="float: left;width: 50%;text-align: center;"> 
                                <h2 style="text-align: center;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;margin-top: 5px;"><i class="fa fa-tasks"></i> Atividades.</h2>   
                                <%= video_tag "/movies/Tuto-Atividades.mp4",class:"tutorial_1", style:"width:89%;margin-top: 5px;", :controls => true %>
                            </div>
                        </p> 
                    </div> 
                    <div  style=""> 
                        <p>
                            <div style="float: right;width: 50%;text-align: center;"> 
                                <h2 style="text-align: center;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;margin-top: 5px;"><i class="fa fa-phone"></i> Contatos</h2>
                                <%= video_tag "/movies/Tuto-contatos.mp4",class:"tutorial_1", style:"width:89%;margin-top: 5px;", :controls => true %>
                            </div>
                        </p> 
                    </div>
                    <div class="clearfix"></div>
                    <div  style=""> 
                        <p>
                            <div style="float: left;width: 50%;text-align: center;"> 
                                <h2 style="text-align: center;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;margin-top: 5px;"><i class="fa fa-users"></i> Filiados</h2>   
                                <%= video_tag "/movies/Tuto-Filiados.mp4",class:"tutorial_1", style:"width:89%;margin-top: 5px;", :controls => true %>
                            </div>
                        </p> 
                    </div> 
                    <div style=""> 
                        <p>
                            <div style="float: right;width: 50%;text-align: center;"> 
                                <h2 style="text-align: center;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;margin-top: 5px;"><i class="fa fa-file-text"></i> Assuntos</h2>
                                <%= video_tag "/movies/Tuto-Assuntos.mp4",class:"tutorial_1", style:"width:89%;margin-top: 5px;", :controls => true %>
                            </div>
                        </p> 
                    </div>
                    <div class="clearfix"></div>
                    <div style="margin-top:4%">
                        <div style="float: right;width: 51%;">
                            <p>
                                <h2 style="text-align: left;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;text-shadow: 0px 0px 0px transparent;"><i class="fa fa-comments"></i> Atendimentos</h2> 
                                texto conplemento atendimento
                            </p>
                        </div>
                        <div style="float: left;margin-left: 13px;width: 46.5%;text-align: right;"> 
                            <%= video_tag "/movies/Tuto-Atendimento.mp4",class:"tutorial_1", style:"width:96%;margin-top: 5px;", :controls => true %>
                        </div> 
                    </div>
                    <div class="clearfix"></div>
                    <div style="margin-top:4%">
                        <div style="float: right;width: 51%;">
                            <p>
                                <h2 style="text-align: left;font-family: Gilroy ExtraBold;font-size: 31px;color: #1a2670;margin-top: -32px;text-shadow: 0px 0px 0px transparent;">Conclusão do treinamento</h2> 
                                texto conclusão 
                            </p>
                        </div>
                        <div style="float: left;margin-left: 13px;width: 46.5%;text-align: right;"> 
                            <%= video_tag "/movies/intro-final.mp4",class:"tutorial_1", style:"width:96%;margin-top: 5px;", :controls => true %>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div> 