<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Profissao:</strong>
  <%= @pessoa.profissao %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @pessoa.cep %>
</p>

<p>
  <strong>Razao social:</strong>
  <%= @pessoa.razao_social %>
</p>

<p>
  <strong>Nome fantasia:</strong>
  <%= @pessoa.nome_fantasia %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @pessoa.cidade %>
</p>

<p>
  <strong>Endereço:</strong>
  <%= @pessoa.endereço %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.cpf %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @pessoa.rg %>
</p>

<p>
  <strong>Pis:</strong>
  <%= @pessoa.pis %>
</p>

<p>
  <strong>Residencial:</strong>
  <%= @pessoa.residencial %>
</p>

<p>
  <strong>Comercial:</strong>
  <%= @pessoa.comercial %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @pessoa.celular %>
</p>

<p>
  <strong>Nacionalidade:</strong>
  <%= @pessoa.nacionalidade %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @pessoa.estado_civil %>
</p>

<p>
  <strong>Estado civil:</strong>
  <%= @pessoa.estado_civil %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @pessoa.bairro %>
</p>

<p>
  <strong>Email:</strong>
  <%= @pessoa.email %>
</p>

<p>
  <strong>Escolaridade:</strong>
  <%= @pessoa.escolaridade %>
</p>

<p>
  <strong>Insc estadual:</strong>
  <%= @pessoa.insc_estadual %>
</p>

<p>
  <strong>Insc municipal:</strong>
  <%= @pessoa.insc_municipal %>
</p>

<p>
  <strong>Responsável:</strong>
  <%= @pessoa.responsável %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @pessoa.cnpj %>
</p>

<p>
  <strong>Cadastro atendimento:</strong>
  <%= @pessoa.cadastro_atendimento %>
</p>

<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
