

<div class="clearfix"></div>
  <div class="row">
    <div class="col-md-6 ">
      <div class="x_panel">
        <%= form_with(model: restrito_tela_agenda_atividade, local: true, class:"form-horizontal form-label-left") do |form| %>
          <div class="x_title">
            <h2 style="width:100%"><%=@acao%> Atividade
              <small class="actions-form">
                <%= link_to 'Voltar', restrito_tela_agenda_atividades_path,class:"fa fa-reply" %>
                <div style="float: right;margin-left: 10px;">
                  <%= form.submit "Enviar", class:"btn btn-success",style:"width: 115px;font-size: 18px;"%>
                </div> 
              </small>
            </h2>
              
            <div class="clearfix"></div>
          </div>
          <div class="x_content" class="contato-form">
            <br />
            
            <% if restrito_tela_agenda_atividade.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(restrito_tela_agenda_atividade.errors.count, "error") %> prohibited this restrito_tela_agenda_atividade from being saved:</h2>

                <ul>
                <% restrito_tela_agenda_atividade.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="item form-group">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Título
              </label>
              <div class="col-md-6 col-sm-6 ">
                <%= form.text_field :titulo, style:"width:400px", placeholder:"Informe o título da atividade"%>
              </div>
            </div> 
            <br>
            <div class="item form-group">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Tipo </label>
              <div class="col-md-6 col-sm-6 " style="width:130px">
                <%= form.select :tipo, ['Atividade', 'Lembrete', 'Agendamento'], class:"form-control"%>
                </div> 
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Nível </label>
              <div class="col-md-6 col-sm-6 ">
                <%= form.select :nivel, ['Alto', 'Médio', 'Baixo'], class:"form-control"  %>
              </div>
            </div>   
            <br>
            <div class="item form-group">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Resumo
              </label>
              <div class="col-md-6 col-sm-6 ">
                <%= form.text_area :resumo, style:"width:400px", placeholder:"Resumo da atividade agendada..."%>
              </div>
            </div> 
            <br>
            <div class="item form-group">
              <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">Agendamento
              </label>
              <br>
              <div class="col-md-6 col-sm-6 ">
                <%= form.text_field :agendamento,type:"date"%>
              </div>
            </div> 
            <br>
          </div>
        <% end %> 
      </div>
    </div>
  </div>