
<div id="index">
  <div class="calendario"><%= render 'teste'%>
    <div class="CadastroAgenda">
      <div class="x_panel" style="height: 678px;">
        <div class="x_title">
          <h2 style="width:100%;text-align: left;">Atividade
            <small class="actions" style="padding-left: 50%;">
            <%= link_to 'Editar', edit_restrito_tela_agenda_atividade_path(@restrito_tela_agenda_atividade),class:"fa fa-pencil-square-o"%>
            <%= link_to 'Voltar', restrito_tela_agenda_atividades_path,class:"fa fa-reply" %>
            </small>
          </h2>
            
          <div class="clearfix"></div>
        </div>
        <div class="x_content" style="text-align: initial;">
        <h2>Id: <small><%=@restrito_tela_agenda_atividade.id %></small></h2>  
        <div class="clearfix"></div>  
        <h2>Tipo: <small><%=@restrito_tela_agenda_atividade.tipo %></small></h2>  
        <div class="clearfix"></div>  
        <h2>Título: <small><%=@restrito_tela_agenda_atividade.titulo %></small></h2>  
        <div class="clearfix"></div>  
        <h2>Nível: <small><%=@restrito_tela_agenda_atividade.nivel %></small></h2>  
        <div class="clearfix"></div>  
        <h2>Data: <small><%=@restrito_tela_agenda_atividade.agendamento.strftime("%d/%m/%Y") %></small></h2>  
        <div class="clearfix"></div> 
        <h2>Resumo: <small style="width: 200px;"><%=(@restrito_tela_agenda_atividade.resumo.unpack(("a%i" % 50) * (@restrito_tela_agenda_atividade.resumo.size / 50.0).ceil).join("\n")).force_encoding("UTF-8") %></small></h2>  
        <div class="clearfix"></div> 
        <div class="clearfix"></div> 
      
      </div>  
    </div>
  </div>
</div>