<p id="notice"><%= notice %></p>

<p>
  <strong>Usuarioudt:</strong>
  <%= @historico.usuarioudt %>
</p>

<p>
  <strong>Acaoupdt:</strong>
  <%= @historico.acaoupdt %>
</p>
<p>
  <strong>Hracao:</strong>
  <%= @historico.hrup %>
</p>
<p>
  <strong>Hracao:</strong>
  <%= @historico.hracao %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @historico.usuario %>
</p>

<p>
  <strong>Acao:</strong>
  <%= @historico.acao_desc %>
</p>
<p>
  <strong>Acao:</strong>
  <%= @historico.acao %>
</p>
<p>
  <strong>Acao:</strong>
  <%= @historico.objeto %>
</p>
<p>
  <strong>Acao:</strong>
  <%= @historico.quem %>
</p>
<%= link_to 'Edit', edit_historico_path(@historico) %> |
<%= link_to 'Back', historicos_path %>
