 
<p>
  <strong>Cnpj:</strong>
  <%= @filiado.cnpj %>
</p>

<p>
  <strong>Cei:</strong>
  <%= @filiado.cei %>
</p>

<p>
  <strong>Codigo tj:</strong>
  <%= @filiado.codigo_tj %>
</p>

<p>
  <strong>Codigo cnpj:</strong>
  <%= @filiado.codigo_cnpj %>
</p>

<p>
  <strong>Nome contato:</strong>
  <%= @filiado.nome_contato %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @filiado.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @filiado.logradouro %>
</p>

<p>
  <strong>Numero casa:</strong>
  <%= @filiado.numero_casa %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @filiado.complemento %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @filiado.bairro %>
</p>

<p>
  <strong>Telefone fixo casa:</strong>
  <%= @filiado.telefone_fixo_casa %>
</p>

<p>
  <strong>Cidade integer:</strong>
  <%= @filiado.cidade_integer %>
</p>

<p>
  <strong>Email:</strong>
  <%= @filiado.email %>
</p>

<%= link_to 'Editar', edit_filiado_path(@filiado) %> |
<%= link_to 'Voltar', filiados_path %>
