<%= javascript_include_tag 'Chart.bundle', 'chartkick'%>  
<div class="col-md-4 col-sm-4 ">
    <div class="x_panel tile fixed_height_320 overflow_hidden"  style="height: auto;">
    <div class="x_title">
        <h2>Atendimentos<small>Por dia da semana.</small></h2> 
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="" style="width:100%">
        <tr>
            <th>
            <p></p>
            </th>
        </tr>
        <tr>
            <td>

            <%= column_chart @atends.group_by_day_of_week(:data_atendimento, format: "%a").count, width: "335px", height: "340px",min:0.0,max:50 %>
            </td>
        </tr>
        </table>
    </div>
    </div>
</div> 
<div class="col-md-4 col-sm-4 ">
    <div class="x_panel tile fixed_height_320 overflow_hidden"  style="height: auto;max-height: 452px;">
    <div class="x_title">
        <h2>Analise dos Processos<small></small></h2> 
        <div class="clearfix"></div>
    </div>
    <div class="x_content" style="padding: 27px;">
        <table class="" style="width:100%">
        <caption><h2>Analise pelo status.</h2></caption>
        <tr>
            <th style="width:37%;">
            <p></p>
            </th>
            <th>
            <div class="col-lg-7 col-md-7 col-sm-7 ">
                <p class=""></p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 ">
                <p class=""></p>
            </div>
            </th>
        </tr>
        <tr>
            <td>

            <%= pie_chart @procs.group(:status_processo).count,legend:false, width: "100px", height: "100px", colors: ["#f42", "#2C7","#fa2"]%> 
            </td>
            <td>
            <table class="tile_info">
                <tr >
                <td>
                    <p><i class="fa fa-square blue" style="color:#fe4310"></i>Aberto </p>
                </td>
                <td>
                    <% begin %>
                        <%= @porcentagem_status_aberto.round(0)  %>%
                    <% rescue %>
                    N/D
                    <% end %>
                </td>
                </tr>
                <tr>
                <td>
                    <p><i class="fa fa-square red" style="color:#22cc77"></i>Concluido </p>
                </td> 
                <td>
                    <% begin %>
                        <%= @porcentagem_status_concluido.round(0)  %>%
                    <% rescue %>
                        N/D
                    <% end %>
                </td>
                </tr>
                <tr>
                <td>
                    <p><i class="fa fa-square green" style="color:#ff9900"></i>Em andamento </p>
                </td> 
                <td>
                    <% begin %>
                        <%= @porcentagem_status_em_andamento.round(0)  %>%
                    <% rescue %>
                    N/D
                    <% end %>
                </td>
                </tr>
            </table>
            </td>
        </tr>
        </table>
        <div ><small class="numeros_g"><%= @qtd_procs%></small> <br><span style="font-size: 18px;">Processos cadastrados no sistema.</span></div>
        <div ><small class="numeros_g"><%= @favoritos%></small> <br><span style="font-size: 18px;">Processos com <i class="fa fa-heart"></i>.</span></div>
    </div>
    </div>
</div>  
<div class="col-md-4 col-sm-4 ">
    <div class="x_panel tile fixed_height_320 overflow_hidden"  style="height: auto;">
    <div class="x_title">
        <h2>Atendimentos<small>Por dia da semana.</small></h2> 
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="" style="width:100%">
        <tr>
            <th>
            <p></p>
            </th>
        </tr>
        <tr>
            <td>

            <%= column_chart @atends.group_by_day_of_week(:data_atendimento, format: "%a").count, width: "335px", height: "340px",min:0.0,max:50 %>
            </td>
        </tr>
        </table>
    </div>
    </div>
</div> 
 <br><div class="clearfix"></div>
<div class="row"> 
    <div class="x_panel" STYLE="MARGIN-LEFT:20PX;width: 97%;">
        <div class="x_title">
            <h2>Atividade da semana<small><%= Time.now.strftime("%d/%m/%Y")%></small></h2> 
            <div class="clearfix"></div>
        </div> 
            <div class="dashboard-widget-content" style="margin-top: -51px;margin-left: -30px;">

                <ul class="list-unstyled timeline widget">
                    <%= week_calendar events: @atividades do |date, atividades| %> 
                        <% atividades.each do |atividade| %>  
                            <% if atividade.status == "Aberto"%>  
                                <li style="display:block;width: 97%;">  
                                    <div class="block">
                                        <div class="block_content">
                                            <h2 class="title" ><a style="margin-left: 4px;"><%=atividade.titulo%></a></h2>
                                            <div class="byline">
                                            <span><%=atividade.agendamento.strftime("%d/%m/%Y as %H:%M ")%></span><span>, Tipo: <%=atividade.tipo%>, </span>
                                            <br> 
                                            <div class="<%=atividade.nivel%>">   
                                                <span>Nivel <%=atividade.nivel%>. </span>
                                            </div>
                                            </div>
                                            <p class="excerpt"><%=atividade.resumo.unpack(("a%i" % 45) * (atividade.resumo.size / 45.0).ceil).join("\n").force_encoding("UTF-8")%><br>
                                            </p>
                                            <a style="margin-left: 90%;"><%= link_to 'Visualizar Atividade', atividade, class:"ver_atividade"%></a>
                                        </div>
                                    </div>   
                                </li>  
                            <% end %> 
                        <% end %>
                    <% end %>
                </ul>
            </div> 
    </div> 
</div>
